body {
background-image: url(images/back.jpg);
background-repeat: repeat-x repeat-y;
background-color: #A4A4A4;
font-family: Verdana, Arial, "Century Gothic";
font-size: 13px;
color: #878787;
padding-top:50px;
}

#container {
background-image: url(images/ma-container.jpg);
margin: auto;
height:850px;
width: 80%;
border: 3px solid #A4A4A4;
border-radius:10px;
-moz-border-radius:10px; /* Firefox 3.6 and earlier */
/*-webkit-border-shadow: 10px;
-moz-box-shadow: 10px 10px 5px #ffffff; 
-webkit-box-shadow: 10px 10px 5px #ffffff; 
box-shadow: 10px 10px 5px #ffffff;*/
}

#exportCont{
background-image: url(images/ma-container.jpg);
margin: auto;
height:2650px;
width: 51%;
border: 3px solid #A4A4A4;
border-radius:10px;
-moz-border-radius:10px; /* Firefox 3.6 and earlier */
/*-webkit-border-shadow: 10px;
-moz-box-shadow: 10px 10px 5px #ffffff; 
-webkit-box-shadow: 10px 10px 5px #ffffff; 
box-shadow: 10px 10px 5px #ffffff;*/
}
/* Navigation Bar*/
a {
	color: #333;
}
img{
	border:0;
}
#nav {
	margin: 0;
	padding: 7px 6px 0;
	background: #7d7d7d url(images/gradient.png) repeat-x 0 -110px;
	line-height: 100%;
	/*border-radius: 2em;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;*/

	-webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0, .4);
}
#nav li {
	margin: 0 5px;
	padding: 0 0 8px;
	float: left;
	position: relative;
	list-style: none;
}


/* main level link */
#nav a {
	font-weight: bold;
	color: #e7e5e5;
	text-decoration: none;
	display: block;
	padding:  8px 20px;
	margin: 0;

	-webkit-border-radius: 1.6em;
	-moz-border-radius: 1.6em;
	
	text-shadow: 0 1px 1px rgba(0,0,0, .3);
}
#nav a:hover {
	background: #b0b0b0;
	color: #fff;
}

/* main level link hover */

/* sub levels link hover */
#nav ul li:hover a, #nav li:hover li a {
	background: none;
	border: none;
	color: #666;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
#nav ul a:hover {
	background: #0078ff url(images/gradient.png) repeat-x 0 -100px !important;
	color: #fff !important;

	-webkit-border-radius: 0;
	-moz-border-radius: 0;

	text-shadow: 0 1px 1px rgba(0,0,0, .1);
}

/* dropdown */
#nav li:hover > ul {
	display: block;
}

/* level 2 list */
#nav ul {
	display: none;

	margin: 0;
	padding: 0;
	width: 185px;
	position: absolute;
	top: 35px;
	left: 0;
	background: #ddd url(images/gradient.png) repeat-x 0 0;
	border: solid 1px #b4b4b4;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	-webkit-box-shadow: 0 1px 3px rgba(0,0,0, .3);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0, .3);
	box-shadow: 0 1px 3px rgba(0,0,0, .3);
}
#nav ul li {
	float: none;
	margin: 0;
	padding: 0;
}

#nav ul a {
	font-weight: normal;
	text-shadow: 0 1px 0 #fff;
}

/* level 3+ list */
#nav ul ul {
	left: 181px;
	top: -3px;
}

/* rounded corners of first and last link */
#nav ul li:first-child > a {
	-webkit-border-top-left-radius: 9px;
	-moz-border-radius-topleft: 9px;

	-webkit-border-top-right-radius: 9px;
	-moz-border-radius-topright: 9px;
}
#nav ul li:last-child > a {
	-webkit-border-bottom-left-radius: 9px;
	-moz-border-radius-bottomleft: 9px;

	-webkit-border-bottom-right-radius: 9px;
	-moz-border-radius-bottomright: 9px;
}

/* clearfix */
#nav:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
#nav {
	display: inline-block;
} 
html[xmlns] #nav {
	display: block;
}
 
* html #nav {
	height: 1%;
}

.line-separator{

	height:1px;
	background:#717171;
	border-bottom:1px solid #313030;

}

/* Left Div */
#LeftDiv {
  width: 50%;;
  padding: 0 0px;
  float:left;
  text-align: left;
  outline: none;  
  border-style: none;
 }

/* Right Div */
#RightDiv {
  padding: 0 0px;
  float:right;
  text-align: left;
  outline: none;  
  border-style: none;
 } 
#RightDiv1 {
  padding: 0 0px;
  margin-top:30px;
  margin-right:30px;
  float:right;
  width:33%;
  height:25%;
  text-align: justify;
  border:1px solid;
  border-radius:25px;
  -moz-border-radius:25px;
 } 
#gframe
{
	height:350px;
	width:945px;	 
}
#footer
{	
	margin-top:20px;
	color:#ffffff;
	text-align:center;

}
#footer a
{
	color:#ffffff;


}
#nproject
{
	border:1px solid;
	width:40%;
	border-radius:25px;
	-moz-border-radius:25px;
	margin-top:7%;
	margin-left:30%; 
	font-size:14px;
	font-weight:bold;
}

#oproject
{
	border:1px solid;
	width:53%;
	height:70%;
    overflow: auto;    
	overflow-x: hidden;
	border-radius:25px;
	-moz-border-radius:25px;
	margin:auto; 
	margin-top:2%;
	font-size:14px;
}

#about
{
	border:1px solid;
	width:65%;
	text-align:justify;
	border-radius:25px;
	-moz-border-radius:25px;
	margin-top:4%;
	margin-left:20%; 
	font-size:14px;
}

#about table
{
	margin: 4%;

}

#uguide
{
	border:1px solid;
	width:30%;
	border-radius:25px;
	-moz-border-radius:25px;
	padding-left:2%;
	margin-top:2%;
	margin-left:30%; 
	font-size:14px;
	font-weight:bold;
}

#analyse
{	
	width:99%;
    overflow: auto;    
	overflow-x: hidden;
	
	font-size:14px;
}
#antb
{	float:right;
	width:95%;
	border:1px solid;
	margin-top:6%;	
	border-radius:25px;
	-moz-border-radius:25px;
}
#rest
{
	padding-top:20px;
	padding-left:20px;
	width:300%;
	height:100%;
    overflow: auto;    
	overflow-x: hidden;
}
#wait
{	
	text-align:center;
	width:40%;
	margin-top:7%;
	margin-left:30%; 
	font-size:14px;
	font-weight:bold;
}
























